@import 'variables';

body{
    margin: 0px;    
    padding: 0px;
    background: $color-verde
}
@font-face{
    font-family: "Oswald-Regular";
    src: url(../static/Oswald-Regular.ttf);



}

@font-face{
    font-family: "Oswald-Medium";
    src: url(../static/Oswald-Medium.ttf);

}

@font-face{
    font-family: "Oswald-Bold";
    src: url(../static/Oswald-Bold.ttf);

}
    

.contenedor-card{
    width: 400px;
    height: auto;
    background: rgb(241, 205, 160);
    padding: 10px; 
    margin: 0 auto;
    margin-top: 10px;
    h2{
         font-family: "Oswald-Medium";
         color: $color-texto;
    }
    p{  
         font-family: "Oswald-Regular";    
         color:$color-texto
    }
}

.cont-img{
    width: 100%;
    height: 200px;
    background-size: 0;
    background-position: center;
    transition: all 1s ease-in-out;
    &:hover{
        background-size: 160%;
    }
}


#img-carro1{
    background-image: url(../img/carro1.jpg);
}

#img-carro2{
    background-image: url(../img/carro2.jpg)
}

.btn-card{
    background-color: $color-azul;
    width: 180px ;
    text-align: center;
    padding: 8px;
    border-radius: 08px;
    font-family: Oswald-Bold;
    color:$color-btn;
    &:hover{
        cursor:pointer;
        box-shadow: 0px 0px 10px rgba(14, 180, 172, 0.733);
    }
}

.text-center{
    text-align: center;
}

.mx-auto{
    margin: 0 auto;
}