body {
  margin: 0px;
  padding: 0px;
  background: #edf1ed;
}

@font-face {
  font-family: "Oswald-Regular";
  src: url(../static/Oswald-Regular.ttf);
}

@font-face {
  font-family: "Oswald-Medium";
  src: url(../static/Oswald-Medium.ttf);
}

@font-face {
  font-family: "Oswald-Bold";
  src: url(../static/Oswald-Bold.ttf);
}

.contenedor-card {
  width: 400px;
  height: auto;
  background: #f1eeeb;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
}

.contenedor-card h2 {
  font-family: "Oswald-Medium";
  color: #1B1A17;
}

.contenedor-card p {
  font-family: "Oswald-Regular";
  color: #1B1A17;
}

.cont-img {
  width: 100%;
  height: 200px;
  background-size: 0;
  background-position: center;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.cont-img:hover {
  background-size: 160%;
}

#img-carro1 {
  background-image: url(../img/carro1.jpg);
}

#img-carro2 {
  background-image: url(../img/carro2.jpg);
}

.btn-card {
  background-color: #aef3d0;
  width: 180px;
  text-align: center;
  padding: 8px;
  border-radius: 08px;
  font-family: Oswald-Bold;
  color: #ff9900;
}

.btn-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px rgba(14, 105, 180, 0.733);
          box-shadow: 0px 0px 10px rgba(72, 14, 180, 0.733);
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin: 0 auto;
}
/*# sourceMappingURL=estilos.css.map */